In [17]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn import tree
import matplotlib.pyplot as plt
from sklearn import metrics
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, roc_curve
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

In [2]:
file = pd.read_csv('Motor_Vehicle_Collisions_-_Crashes.csv', low_memory = False)

In [3]:
df = pd.DataFrame(file)
df

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,09/11/2021,2:39,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4455765,Sedan,Sedan,NaN,NaN,NaN
1,03/26/2022,11:45,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,...,NaN,NaN,NaN,NaN,4513547,Sedan,NaN,NaN,NaN,NaN
2,06/29/2022,6:55,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4541903,Sedan,Pick-up Truck,NaN,NaN,NaN
3,09/11/2021,9:35,BROOKLYN,11208,40.667202,-73.866500,"(40.667202, -73.8665)",NaN,NaN,1211 LORING AVENUE,...,NaN,NaN,NaN,NaN,4456314,Sedan,NaN,NaN,NaN,NaN
4,12/14/2021,8:13,BROOKLYN,11233,40.683304,-73.917274,"(40.683304, -73.917274)",SARATOGA AVENUE,DECATUR STREET,NaN,...,NaN,NaN,NaN,NaN,4486609,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1949625,11/29/2022,2:20,STATEN ISLAND,10305,40.611940,-74.070380,"(40.61194, -74.07038)",NaN,NaN,255 HYLAN BOULEVARD,...,NaN,NaN,NaN,NaN,4585934,Sedan,NaN,NaN,NaN,NaN
1949626,11/29/2022,15:05,BROOKLYN,11220,40.639854,-74.012200,"(40.639854, -74.0122)",57 STREET,6 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4586337,Sedan,Distributo,NaN,NaN,NaN
1949627,11/24/2022,22:00,NaN,NaN,40.812073,-73.936040,"(40.812073, -73.93604)",EAST 135 STREET,MADISON AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4586345,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
1949628,10/18/2022,15:00,NaN,NaN,40.797035,-73.929825,"(40.797035, -73.929825)",EAST 120 STREET,PLEASANT AVENUE,NaN,...,NaN,NaN,NaN,NaN,4586360,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
1949629,11/29/2022,6:25,BROOKLYN,11210,40.625275,-73.946610,"(40.625275, -73.94661)",NaN,NaN,2442 NOSTRAND AVENUE,...,Unspecified,Unspecified,NaN,NaN,4585982,Sedan,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN

In [4]:
df = df.sample(n = 10000, replace = True)
df = df.drop(['CRASH TIME','COLLISION_ID','CONTRIBUTING FACTOR VEHICLE 1','CRASH DATE','BOROUGH','ZIP CODE','LATITUDE','LONGITUDE','LOCATION','ON STREET NAME','CROSS STREET NAME','OFF STREET NAME','CONTRIBUTING FACTOR VEHICLE 2','CONTRIBUTING FACTOR VEHICLE 3','CONTRIBUTING FACTOR VEHICLE 4','CONTRIBUTING FACTOR VEHICLE 5','VEHICLE TYPE CODE 2','VEHICLE TYPE CODE 3','VEHICLE TYPE CODE 4','VEHICLE TYPE CODE 5'], axis = 1)

In [5]:
df['VEHICLE TYPE CODE 1'].value_counts()

Sedan                                  2616
Station Wagon/Sport Utility Vehicle    2151
PASSENGER VEHICLE                      2095
SPORT UTILITY / STATION WAGON           921
Taxi                                    220
                                       ...
FLATB                                     1
us po                                     1
TRLR                                      1
MOTOR                                     1
amb                                       1
Name: VEHICLE TYPE CODE 1, Length: 83, dtype: int64

In [6]:
df = df.dropna()
df

,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,VEHICLE TYPE CODE 1
1417776,0.0,0.0,0,0,0,0,0,0,UNKNOWN
1064984,1.0,0.0,1,0,0,0,0,0,Sedan
1339216,0.0,0.0,0,0,0,0,0,0,PASSENGER VEHICLE
1531139,0.0,0.0,0,0,0,0,0,0,SPORT UTILITY / STATION WAGON
1011524,0.0,0.0,0,0,0,0,0,0,Sedan
...,...,...,...,...,...,...,...,...,...
1321715,0.0,0.0,0,0,0,0,0,0,VAN
895685,1.0,0.0,0,0,0,0,1,0,Sedan
1816273,0.0,0.0,0,0,0,0,0,0,PASSENGER VEHICLE
636288,0.0,0.0,0,0,0,0,0,0,Station Wagon/Sport Utility Vehicle
7178,0.0,0.0,0,0,0,0,0,0,Station Wagon/Sport Utility Vehicle

In [7]:
def f_feature_selection(data):
    features = data.iloc[:,:-1].values
    observed = data.iloc[:,-1:].values
    return features, observed

In [8]:
def f_createTrainTestData(X, y):
    xtrain, xtest, ytrain, ytest = train_test_split(X, y, test_size=0.40, random_state=42)
    return xtrain, xtest, ytrain, ytest

In [9]:
def f_pairPlot(dataframe):
    sns.pairplot(dataframe, diag_kind='kde', hue='VEHICLE TYPE CODE 1')

In [14]:
def f_knn(X_train, X_test, y_train, y_test):
    model_performance = 0.0
    
    # Reshaping arrays
    y_test  = np.reshape(y_test, len(y_test), )
    y_train = np.reshape(y_train, len(y_train), )

    # Creating and training model instance
    model = KNeighborsClassifier(n_neighbors = 8)
    model.fit(X_train, y_train)

    # Creating model prediction
    y_pred = model.predict(X_test)

    # Calculating model performance
    model_performance = accuracy_score(y_test, y_pred)
    return model_performance.round(3)

def f_svm(X_train, X_test, y_train, y_test):
    model_performance = 0.0

    # Reshaping arrays
    y_test  = np.reshape(y_test, len(y_test), )
    y_train = np.reshape(y_train, len(y_train), )

    # Creating and training model instance
    model = SVC()
    model.fit(X_train, y_train)

    # Creaitng model prediction
    y_pred = model.predict(X_test)

    # Calculating model performance
    model_performance = accuracy_score(y_test, y_pred)
    return model_performance.round(3)

def f_DecisionTree(X_train, X_test, y_train, y_test):
    model_performance = 0.0

    # Reshaping arrays
    y_test  = np.reshape(y_test, len(y_test), )
    y_train = np.reshape(y_train, len(y_train), )

    # Creating and training model instance
    model = tree.DecisionTreeClassifier()
    model.fit(X_train, y_train)

    # Creating model prediction
    y_pred = model.predict(X_test)

    # Calculating model performance
    model_performance = accuracy_score(y_test, y_pred)
    return model_performance.round(3)

def f_bayes(X_train, X_test, y_train, y_test):
    model_performance = 0.0

    # Reshaping arrays
    y_test  = np.reshape(y_test, len(y_test), )
    y_train = np.reshape(y_train, len(y_train), )

    # Creating and training model instance
    model = GaussianNB()
    model.fit(X_train, y_train)

    # Creating model prediction
    y_pred = model.predict(X_test)

    # Calculating model performance
    model_performance = accuracy_score(y_test, y_pred)
    return model_performance.round(3)

In [15]:
def main():
    status = 0

    X_features, y_feature = f_feature_selection(df)
    xtrain, xtest, ytrain, ytest = f_createTrainTestData(X_features, y_feature)

    # train and test each models
    status = f_knn(xtrain, xtest, ytrain, ytest)
    print(' - KNN model performance = ', status)
    
    status =  f_svm(xtrain, xtest, ytrain, ytest)
    print(' - SVM model performance = ', status)
    
    status = f_DecisionTree(xtrain, xtest, ytrain, ytest)
    print(' - DecisionTree model performance = ', status)
    
    status =  f_bayes(xtrain, xtest, ytrain, ytest)
    print(' - Bayes model performance = ', status)

    print('\n-    -    -    -    -  E N D  -    -    -    -    -    -\n')

In [18]:
main()

ValueError: multiclass format is not supported